<<%# Check for admin priveleges %>
<% raise 'You\'re not alllowed to be here.' if !admin? %>

form action=<%= "/admin/tags" %> method="post"> 
    <input type="text" name="tag_name" value=<%= @tag_name %>>
    <select name="tag_purpose_id">
        <% tag_purposes.each do |tag_purpose| %>
            <option value=<%= tag_purpose['id'] %> <%= tag_purpose['id'] == 1 ? "selected" : "" %>>
                <%= tag_purpose['name'] %>
            </option>
        <% end %>
    </select>
    <input type="submit" value="Create tag">
</form>
