<%# Check for admin priveleges %>
<% raise 'You\'re not alllowed to be here.' if !admin? %>

<form action="/admin/games/<%= game['id'] %>/update" method="post">
  <input type="text" name="name" value="<%= game['name'] %>">
  <label for="time_created">Time created</label>
  <input type="datetime-local" id="time_created" name="time_created" value=<%= Time.at(game['time_created']).strftime('%Y-%m-%dT%H:%M:%S.%L') %>>
  <label for="time_released">Time released</label>
  <input type="datetime-local" id="time_released" name="time_released" value=<%= Time.at(game['time_released']).strftime('%Y-%m-%dT%H:%M:%S.%L') %>>
  <label for="time_changed">Time changed</label>
  <input type="datetime-local" id="time_changed" name="time_changed" value=<%= Time.at(game['time_changed']).strftime('%Y-%m-%dT%H:%M:%S.%L') %>>
  <label for="fullscreen">Fullscreen</label>
  <input type="checkbox" id="fullscreen" name="fullscreen" value="Fullscreen" <%= 'checked' if game['fullscreen'] == 1 %>>
  <label for="warning">Warn for Foreign game</label>
  <input type="checkbox" id="warning" name="warning" value="Warn for Foreign" <%= 'checked' if game['warning'] == 1 %>>
  <label for="tags[]">Tags</label>
  <select id="tags[]" name="tags[]" multiple=true>
    <% tags.each do |tag| %>
      <option value=<%= tag['id'] %> <%= 'selected' if game_tags.include?(tag) %>>
        <%= tag['name'] %>
      </option>
    <% end %>
  </select>
  <input type="submit" name="Update game">
</form>

<form action="/admin/games/<%= game['id'] %>/files/update" method="post">
  <label for="game_files[]">Game folder</label>
  <input type="file" id="game_files[]" name="game_files[]" multiple="" directory="" webkitdirectory="" mozdirectory="">
  <input type="submit" name="Submit files">
</form>

